<h1>All Todos</h1>

@if(!authStore.isValid) {
<button (click)="login()">Login</button>
}@else {
<button (click)="logout()">Logout</button>
}



<div>
  <form #form="ngForm" (ngSubmit)="createTodo()">
    <input type="text" name="title" #title="ngModel" [(ngModel)]="model.title">
    <input type="text" name="details" #details="ngModel" [(ngModel)]="model.details">
    <button type="submit">Create</button>
  </form>
</div>
<ul>
  @for (todo of todos(); track $index) {

  <li>
    <p>{{ todo.title }}</p>
    <p [innerHTML]="todo.details"></p><strong>{{ todo.created | date: 'fullDate' }}</strong>
  </li>
  }@empty {
  <p>No todos yet!</p>
  }
</ul>